#Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/

# Object files
*.xml
*.iml

# Temporary
*.swp
*.name
~*.*
# System
.DS_Store

# Pages
*.pages

# zip
*.zip

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex


